DB_HOST=127.0.0.1
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password
DB_PORT=5432

JWT_SECRET=your_32_character_ultra_secure_secret
JWT_ISSUER=YourAppIssuer
JWT_AUDIENCE=YourAppAudience
JWT_EXPIRATION_MINUTES=60

# S3 Storage Config
S3_ENDPOINT=https://s3.atomsystems.org
S3_ACCESS_KEY=your_access_key_here
S3_SECRET_KEY=your_secret_key_here
S3_BUCKET_NAME=nexodus
